.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: #0c0b0b;
  margin-top: 30px;
}
.footer h3 {
  font-size: 14px;
  color: #fff;
}
.footerSocialMedia {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footerSocialMedia a {
  color: #ffcb2f;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: ease-in-out 0.4s;
  text-decoration: none;
}
.footerSocialMedia a:hover {
  color: white;
}
