
.aboutCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 90%;
  margin: 50px auto;
}

.aboutImg {
  width: 25%;
  height: 25%;
  border-radius: 100%;
}
.aboutText {
  display: flex;
  flex-direction: column;
}
.aboutText h5 {
  margin: 30px 0;
}
.aboutText button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 15px;
  color: white;
  font-size: 15px;
  background-color: orange;
  border: 1px orange;
  width: 20%;
  margin-top: 20px;
}
.aboutText button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid orange;
  cursor: pointer;
}
 @media screen and (max-width:640px) {
    .aboutText h1{
      font-size: 25px;
    }
   .aboutCenter{
     flex-direction: column;
   }
   .aboutImg {
     width: 300px;
     height: 300px;
     border-radius:50%
   }
   .aboutCenter{
     padding: 0;
   }
   .aboutText button{
     align-self: center;
     width: 75%;
     font-size: 20px;
     font-weight: 700;
   }
 }

 @media screen and (min-width:820px) and (max-width:1180px){
   .aboutCenter{
     padding: 0;
   }
   .aboutImg{
     width: 40%;
     height: 40%;
     border-radius:50%;
   }
   .aboutText button{
     width: 50%;
     font-size: 18px;
   }
 }
 @media screen and (min-width:768px) and (max-width:1024px){
  .aboutCenter{
    padding: 0;
  }
  .aboutImg{
    width: 40%;
    height: 40%;
    border-radius:50%;
  }
  .aboutText button{
    width: 50%;
    font-size: 18px;
  }
 }