.myContact {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-top: 50px;
}
.myContact h2 {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}
.contactInfoCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin: 30px;
}
.contactCon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.contactElCon {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.contactIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffcb2f;
  color: white;
  font-size: 20px;
  align-self: center;
}
.contactNamePlace h2 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: start;
}
.contactSubmitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitBtn {
  padding: 20px 40px !important;
  display: flex;
  border: 1px solid #ffcb2f;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 3px;
  justify-content: center;
  align-items: center;
  background: #ffcb2f;
}
.submitBtn:hover {
  background: transparent !important;
  border: 1px solid #ffcb2f !important;
  color: #000 !important;
  -webkit-transition: all 0.4s !important;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
}
@media screen and (max-width: 640px) {
  .myContact{
    height: 120vh;
  }
  .contactInfoCon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 30px;
  }
  
  .nameInput,
  .emailInput {
    width: 320px !important;
  }
  .contactFormCon{
    width: 90% !important;
  }
}
@media screen and (min-width:820px) and (max-width:1180px) {
  .myContact{
    height: 50vh;
  }
  .contactInfoCon{
    gap: 15px;
  }
}
@media screen and (min-width:768px) and (max-width:1024px){
  .myContact{
    height: 60vh;
  }
  .contactInfoCon{
    gap: 15px;
  }
}