.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}
.logo {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
li {
  color: white !important;
}
