.myService,
.myExperience {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
/* work */
.myWork {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.serviceCentered,
.experienceCentered {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* work */
.workCentered {
  min-width: 90%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myService h1,
.experience h1,
.work h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}
.work h1 {
  margin: 30px;
}
.cardContainer,
.experienceCardContainer,
.workCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.experienceCardContainer {
  margin-bottom: 30px;
}
/* experience */
.experienceCardContainer,
.workCardContainer {
  flex-wrap: wrap;
}
.serviceCard {
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #ffff;
  background-color: #ffff;
  transition: ease-in-out 0.8s;
  min-height: 300px;
}
.serviceTitle,
.serviceContent {
  text-align: center;
}
.serviceTitle {
  font-size: 20px;
}
.iconCon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 166, 0, 0.781);
  transition: ease-in-out 1s;
}
.serviceCard:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  cursor: pointer;
}

.serviceCard:hover .iconCon {
  background-color: orange;
}
.serviceCard:hover .chrome {
  color: white;
}
.chrome {
  color: orange;
  font-weight: 200;
  font-size: 30px;
}
/* experience */
.experienceCard {
  background: #fff;
  padding: 30px 70px;
  width: 25%;
}

.namePlaceYearCon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.yearCon {
  background-color: #ffcb2f;
  color: white;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 15px;
}
.namePlaceCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
/* work */
.workCardContainer {
  height: 100vh;
  align-items: flex-start;
  margin-bottom: 130px;
}
.workButtonCon {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 30px;
}
.radioButton {
  font-size: 15px;
  border: 1px solid #ffcb2f;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px;
  font-weight: 300;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s;
}
.radioButton:hover {
  background-color: #ffcb2f;
  color: white;
}

.selectedButton,
.firstButton {
  font-size: 15px;
  border: 1px solid #ffcb2f;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px;
  font-weight: 300;
  background-color: #ffcb2f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workCard {
  background: rgba(255, 255, 255, 0.7);
  width: 23%;
  min-height: 300px;
  cursor: pointer;
}
.nameClient {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-end;
}
.workCard img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.workTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
}

@media screen and (max-width: 640px) {
  .work h1,
  .experience h1,
  .service h1 {
    font-size: 25px;
  }
  .cardContainer {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .experienceCard {
    width: 100%;
    padding: 20px 50px;
  }
  .experienceCardContainer {
    margin-bottom: 30px;
    width: 100%;
  }
  .myService {
    margin-top: 50px;
    padding: 20px 0;
  }
  .serviceCard {
    min-height: 200px;
    width: 100%;
  }

  .myExperience,
  .myWork {
    padding: 0;
  }

  .experienceTitle {
    font-size: 15px;
  }
  .yearCon {
    font-size: 12px;
    padding: 0;
    width: 150px;
    height: 28px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .work h1 {
    text-align: center;
  }
  .selectedButton,
  .radioButton {
    font-size: 10px;
  }
  .workCardContainer {
    gap: 15px;
    width: 100%;
  }

  .workCard {
    width: 38%;
    min-height: 150px;
  }
  .workTitle {
    font-size: 15px;
  }
}
@media screen and (min-width: 820px) and (max-width: 1180px) {
  .cardContainer {
    flex-wrap: wrap;
  }
  .serviceCard {
    width: 60%;
  }
  .myExperience {
    padding: 0;
  }
  .experienceTitle {
    font-size: 15px;
  }
  .yearCon {
    font-size: 13px;
    padding: 0;
    width: 300px;
    height: 45px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .workCard {
    width: 38%;
    min-height: 100px;
  }
  .experienceCard {
    height: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cardContainer {
    flex-wrap: wrap;
  }
  .serviceCard {
    width: 40%;
  }
  .experienceTitle {
    font-size: 14px;
  }
  .yearCon {
    font-size: 13px;
    padding: 0;
    width: 300px;
    height: 45px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .workCard {
    width: 38%;
    min-height: 100px;
  }
  .experienceCard {
    height: 300px;
  }
}
